<p>
  diretiva-ngif works!
</p>
<h3>Angular CLI - Pré processador de CSS</h3>
<h4>Novo projeto</h4>
<ul>
  <li>ng new nome-projeto --style=sass</li>
  <li>ng new nome-projeto --style=less</li>
  <li>ng new nome-projeto --style=stylus</li>
</ul>
<h4>Projeto existente - Changing default CSS</h4>
<ul>
  <li>ng set defaults.styleExt scss</li>
  <li>ng set defaults.styleExt less</li>
  <li>ng set defaults.styleExt styl</li>
</ul>
<h3>Comandos qualidade de código - lint, test e e2e</h3>
<ul>
  <li>ng lint</li>
  <li>ng test</li>
  <li>ng e2e</li>
</ul>
<h5>*ngIf</h5>
<div *ngIf="cursos.length > 0">
  Lista de cursos
</div>
<div *ngIf="cursos.length == 0">
  Não existe cursos para serem listados. <br>
  Usado quando a árvore for grande ou questão de segurança, ex.: Menu que só determinada permissão deve ver.
</div>
<div [hidden]="cursos.length != 0">
  Não existe cursos para serem listados. | Using hidden. <br>
  Usado quando for pequena árvore, ex.: Mensagem.
</div>