<section class="property-binding">
  <article>
    <h3 style="cursor: pointer;" (click)="showInterpolation = !showInterpolation">Interpolation / Interpolação</h3>
    <div *ngIf="showInterpolation">
      <p>String renderizada com interpolação: {{ url }}</p>
      <p>Resultado de 1 + 1 é: {{ 1 + 1 }} </p>
      <p>Resultado de 1 + 1 não é: {{ 1 + 1 + getValor() }} </p>
      <p>Curtindo Angular 6 e melhorando o currículo: {{ cursoAngular && getConectarPerfil() }} </p>
    </div>
  </article>
  <article>
    <h3 style="cursor: pointer;" (click)="getChangeShowPropertyBinding()">Property Binding - Exibr imagens: {{ showPropertyBinding }}</h3>
    <p *ngIf="showPropertyBinding"><img src="{{ urlImagem }}"> </p>
    <p *ngIf="showPropertyBinding"><img bind-src="urlImagem"> </p>
    <p *ngIf="showPropertyBinding"><img [src]="urlImagem"> </p>
  </article>
  <article>
    <h3 style="cursor: pointer;" (click)="showClasseStyle = !showClasseStyle">Class e Style binding</h3>
    <div *ngIf="showClasseStyle">
      <div>
      Selecione uma classe:

      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Informação</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br /><br />
      <div class="alert {{ classe.value }}" >Texto colorido conforme valor do box</div>
      <div class="alert alert-danger" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">Texto exibido conforme valor do box</div>
      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Informação</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>
    </div>
  </div>
</article>
</section>
<section class="event-binding">
  <article>
    <h3 style="cursor: pointer;" (click)="showEventDataBinding = !showEventDataBinding">Event Data Binding</h3>
    <div *ngIf="showEventDataBinding">
      <button class="btn btn-primary" (click)="botaoClicado()">Meu Clique</button>
      <br/><br/>
      <input type="text" (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor($event.target.value)"
        (blur)="salvarValor(campoInput.value)"
        #campoInput />
      <br />
      <p>Valor Atual: {{ valorAtual }} </p>
      <p>Valor salvo: {{ valorSalvo }} </p> 
      <span (mouseover)="onMouseOverOut()"
        on-mouseout="onMouseOverOut()"
        [class.highlight]="isMouseOver">
        Passe o mouse sobre mim.
      </span>
    </div>
  </article>
</section>
<app-meu-form></app-meu-form>
<section>
  <article>
    <h3 style="cursor: pointer;" (click)="showCurso = !showCurso">Curso</h3>
    <div *ngIf="showCurso">
      <app-curso [nome]="nomeCurso"></app-curso>
      <contador [valor]="valorInicial" 
        (mudouValor)="onMudouValor($event)"
      ></contador>
    </div>
  </article>
</section>
